server:
  port: 8080

spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:${CONFIG_URI:http://localhost:8888}"
  cloud:
    config:
      fail-fast: false # Не падать сразу при первой неудаче
      retry:
        enabled: true
        initial-interval: 2000 # Ждать 2 секунды перед повтором
        max-interval: 5000
        max-attempts: 20   # Пытаться 20 раз (всего около минуты ожидания)
    gateway:
      routes:
        - id: auth-route
          uri: http://main-service:8081
          predicates:
            - Path=/auth/**
        - id: main-api
          uri: http://main-service:8081
          predicates:
            - Path=/api/**
          filters:
            - AuthenticationFilter

# === ОТКЛЮЧАЕМ EUREKA ЗДЕСЬ ===
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

application:
  jwt:
    secret: super-secret-key-that-must-be-very-long-and-secure-base64-encoded