server:
  port: 8888

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: file:///config-repo
          default-label: main
        native:
          search-locations: file:///config-repo

management:
  endpoints:
    web:
      exposure:
        include: health,info