server:
  port: 8888

spring:
  application:
    name: config-service
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          # Ищем конфиги в разных местах:
          # 1. Для Docker (file:/config-repo)
          # 2. Для локального запуска из корня (file:./config-repo)
          # 3. Для локального запуска из папки модуля (file:../config-repo)
          search-locations: file:/config-repo, file:./config-repo, file:../config-repo